//styleguide
$light-grey: #f2f2f2;
$medium-grey: #ebebeb;
$dark-grey: #b0b0b0;
$black: #000;
$white: #fff;

@mixin tabWidth {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin mobWidth {
  @media (max-width: 600px) {
    @content;
  }
}

html {
  padding-bottom: 0px !important;
  font-size: 62.5%;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.text-upper {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: #000;
}

.h1 {
  font-size: 3.2rem;
  letter-spacing: 3px;
  line-height: 4.8rem;

  @include mobWidth {
    font-size: 2.4rem;
    letter-spacing: 2.61px;
    line-height: 3.8rem;
  }
}

h1 {
  font-size: 4.8rem;
  letter-spacing: 5px;
  /*   text-align: center; */
  line-height: 5.6rem;

  @include mobWidth {
    font-size: 3.2rem;
    letter-spacing: 3.48px;
    line-height: 48px;
  }
}

h2 {
  font-size: 3.2rem;
  letter-spacing: 3px;
  line-height: 4.8rem;

  @include mobWidth {
    font-size: 2.4rem;
    letter-spacing: 2.61px;
    line-height: 3.8rem;
  }
}

h2 .small {
  font-size: 2.8rem;
  letter-spacing: 3.5px;
  line-height: 3.6rem;

  @include mobWidth {
    font-size: 2rem;
    letter-spacing: 2.17px;
    line-height: 3rem;
  }
}

h3 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 4.4rem;

  @include mobWidth {
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3.4rem;
  }
}

.h3 {
  font-size: 3.2rem;
  letter-spacing: 0;
  line-height: 4.4rem;

  @include mobWidth {
    font-size: 2.4rem;
    letter-spacing: 0;
    line-height: 3.4rem;
  }
}

h4 {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 3rem;
  font-weight: normal;

  @include mobWidth {
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    line-height: 3rem;
    font-weight: normal;
  }
}

.sk-h4 {
  font-size: 2rem;
  letter-spacing: 3px;
  line-height: 3rem;
  font-weight: normal;
  color: #000;
  font-family: apercu;
  text-transform: uppercase;

  @include mobWidth {
    font-size: 1.6rem;
    letter-spacing: 2.4px;
    line-height: 3rem;
    font-weight: normal;
  }
}

h5 {
  font-size: 14px;
  letter-spacing: 2.33px;
  line-height: 2.2rem;

  @include mobWidth {
    font-size: 12px;
    letter-spacing: 1.71px;
    text-align: center;
    line-height: 20px;
  }
}

.h5 {
  font-size: 14px;
  letter-spacing: 2.33px;
  line-height: 2.2rem;

  @include mobWidth {
    font-size: 12px;
    letter-spacing: 1.71px;
    text-align: center;
    line-height: 20px;
  }
}

p {
  font-size: 1.6rem;
}

.small {
  font-size: 12px;
  line-height: 18px;
}

//BURGER
.burger {
  cursor: pointer;
}

.nav {
  position: relative;
}

.nav-logo {
  width: 7rem;

  &-img {
    width: 100%;
    height: 100%;
  }
}

.nav-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-burger-flex {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cart-link {
  margin-right: 3rem;
  font-size: 2rem;
  cursor: pointer;
}

.nav-menu {
  height: 100vh;
  width: 400px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 100;
  right: 0;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;
  padding-left: 80px;
  padding-top: 184px;

  & ul {
    list-style: none;

    & li {
      margin-top: 1rem;
    }
  }
}

.nav-menu-show {
  transform: translate(0);
  position: absolute;
  right: 0;
}

.nav-menu-none {
  transform: translate(584px);
}

.product-item-grid {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.product-item {
  // max-width: 300px;
  width: 25%;

  @media (max-width: 1023px) {
    width: 33%;
  }

  @media (max-width: 768px) {
    width: 50%;
  }

  @media (max-width: 500px) {
    width: 100%;
  }

  &-img img {
    width: 100%;
    height: 100%;
  }

  &-title {
    display: inline-block;
    max-width: 375px;
  }
}

// .product-item:nth-child(3n) {

//   }

//Collection templates
.collection-bg {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

//PDP
.pdp {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1280px;
  margin: 8rem auto auto auto;

  &-title {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 12.56px;
  }

  &-price {
    text-align: left;
    margin-top: 1.6rem;
  }

  &-quarter {
    width: 30%;
  }

  &-half {
    width: 50%;

    &-img {
      width: 100%;
    }
  }
}

.css-faiu94 p {
  font-size: 11px;
}

.radio-toolbar {
  display: flex;
}

.size-wrap {
  margin-right: 1rem;
  margin-top: 2rem;
}

.radio-toolbar input[type='radio'] {
  opacity: 0;
  position: fixed;
  width: 0;
  z-index: 1;
}

.radio-toolbar label {
  display: inline-block;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 700;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: 4rem;
  width: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-toolbar input[type='radio']:checked + label {
  background-color: #fff;
  border-color: #000;
}

.radio-toolbar input[type='radio']:focus + label {
  border: 1px solid #000;
}

.radio-toolbar label:hover {
  background-color: #fefefe;
}

.atc-button {
  padding: 1.5rem 0;
  background-color: black;
  color: white;
  width: 100%;
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 1.6rem;
}

//CART DRAWER
.cart-drawer {
  width: 400px;
  border: 1px solid red;
  position: absolute;
  top: 0;
  right: 0;
  background-color: white;
  height: 100vh;
}

.cart-drawer-item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;
}

.drawer-item-remove a {
  cursor: pointer;
}

.drawer-item-info p {
  font-size: 11px !important;
}

.drawer-item-image-wrap {
  width: 100%;
}

.drawer-item-img {
  height: 100%;
  width: 100%;
}

.cart-drawer {
  height: 100vh;
  width: 400px;
  background-color: #fff;
  transition: all 0.4s ease-in-out;
  position: fixed;
  z-index: 100;
  right: 0;
  border-top: 1px solid #888888;
  border-left: 1px solid #888888;
  border-bottom: 1px solid #888888;

  &-inner {
    padding-right: 20px;
    padding-left: 32px;
  }
}

.cart-drawer-footer {
  float: right;

  &-sub {
    text-align: right;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &-checkout-btn {
    float: right;
    margin-top: 16px;
    padding: 1.5rem 0;
    background-color: black;
    color: white;
    width: 100%;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 1.6rem;
  }
}

.cart-drawer-footer p {
  font-size: 12px;
}

.empty {
  margin-top: 1rem;
}

.close-svg {
  cursor: pointer;
}

.cart-header {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.line-through {
  text-decoration: line-through;
}

.atc-sold-out {
  opacity: 0.3;
}
